@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div#App {
  display: flex;
  flex-direction: column;
}

div#welcome {
  background-color: seashell;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#homepage {
  background-color: rgb(119, 156, 151);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items:flex-start;
  padding: 25px; */
}

h1.homepage {
  color: seashell;
}

h1.welcome {
  margin-top: 0px;
  font-family: 'Vollkorn', serif;
}

div#greeting-header {
  height: 270px;
  width: 70vw;
  background-color: rgb(255, 252, 244);
  border-radius: 20px;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div#greeting-habits {
  display: flex;
}

div#habits {
  background-color: yellowgreen;
  width: 23vw;
  border-radius: 25px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 20px;
  height: 270px;
}

h1.greeting-header {
  margin-left: 20px;
}

div#today {
  background-color:tomato ;
  width: 95vw;
  height: 500px;
  margin-left: 25px;
  border-radius: 20px;
  margin-bottom: 25px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1.today {
  margin-left: 25px;
  margin-bottom: 0px;
}

h2.today {
  margin-left: 25px;
  margin-top: 5px;
}

div#warmups {
  width: 60%;
  height: 50%;
  background-color: rgb(184, 191, 252);
  margin-left: 25px;
  margin-top: 20px;
  border-radius: 25px;
}
