@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Vollkorn:wght@900&family=Zen+Old+Mincho&display=swap');


div#App {
  display: flex;
  flex-direction: column;
}

div#nav-bar {
  height: 40px;
  padding-left: 20px;
  padding-right: 40px;
  /* padding-left: 25px; */
  background-color: seashell;
  display: flex;
  justify-content:space-between;
  column-gap: 35px;
}

a.nav {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

div#nav-bar h3 {
  margin: 0px;
  margin-left: 25px;
  margin-top: 7px;
  font-weight: 500;
  color: black;
  font-family: 'PT Serif', serif;
  font-weight: 100;
}

div#nav-bar h3:hover {
  color: black;

}

/* --------- Welcome Page ---------- */

div#welcome {
  background-color: seashell;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input#name {
  border-radius: 20px;
  margin-right: 10px;
  height: 20px;
  border-style: none;
}

input#submit-name {
  width: 70px;
  border-radius: 20px;
  border-style: none;
  font-size: 20px;
}

form#name-submit {
  display: flex;
}


h4.welcome {
  font-weight:lighter;
  font-size: 25px;
  margin-top: -25px;
}

h1 {
  font-family: 'Zen Old Mincho', serif;
  font-weight: lighter;
  font-size: 25px;
}

h2 {
  font-size: 25px;
  font-weight: lighter;
}

h1.welcome {
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(247, 236, 225);
  font-family: 'Vollkorn', serif;
  font-size: 100px;
  transition: color 0.5s ease;
}

/* --------- Home Page ---------- */

div#homepage {
  background-color: rgb(247, 236, 225);
  width: 100vw;
  /* padding: 25px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items:flex-start;
  padding: 25px; */
}

div#user-log-in {
  padding: 25px;
  height: 100vh;
  background-color: seashell;
  display: flex;
  flex-direction: column;
}

div#user-log-in h1 {
  color: rgb(141, 108, 100);
  align-self: center;
  font-size: 80px;
  margin-bottom: 0px;
  margin-top: 0px;
}

div#user-log-in h2 {
  color: rgb(83, 76, 75);
  align-self: center;
  font-size: 25px;
  margin-bottom: 50px;
}

div#user-forms {
  display: flex;
  justify-content: center;
  gap: 150px;
}

div#user-forms form {
  background-color: rgb(255, 250, 245);
  width: 240px;
  border-radius: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

div#user-forms form h2 {
  align-self: flex-start;
  margin-bottom: 30px;
  font-weight: 300;
}

div#user-forms form label {
  font-weight: 150;
}

div#user-forms input[type=text] {
  background-color: rgb(255, 250, 245);
  border-color: rgb(141, 108, 100);
}

div#user-forms input[type=password] {
  background-color: rgb(255, 250, 245);
  border-color: rgb(141, 108, 100);
}

div#greeting-header {
  /* height: 270px; */
  height:max-content;
  width: 90vw;
  padding: 25px;
  background-color: seashell;
  border-radius: 25px;
  border-style: solid;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1.greeting-header {
  margin: 0;
  margin-bottom: 8px;
}

div#warmups button {
  height: 40px;
  width: 85px;
  border-radius: 25px;
  border-style: none;
  background-color: seashell;
}

input[type=text] {
  font-family: 'PT Serif', serif;
  border: none;
  border-bottom: 2px solid black;
  background-color: seashell;
  padding: 3px;
  outline: none;
  /* width:320px; */
}

input[type=password] {
  font-family: 'PT Serif', serif;
  border: none;
  border-bottom: 2px solid black;
  background-color: seashell;
  padding: 3px;
  outline: none;
}

input[type=submit] {
  height: 40px;
  width: 100px;
  margin: 0px;
  border-radius: 25px;
  border-style: none;
  background-color: rgb(247, 236, 225);
}

input#task {
  width: 70px;
}

input#importance {
  width: 156px;
}

input#urgency {
  width: 130px;
}

input#enjoyment {
  width: 107px;
}

input#time-est {
  width: 180px;
}

div#habits-today {
  display: flex;
  flex-wrap:wrap;
}

div#habits {
  background-color: seashell;
  width: 200px;
  margin-left: 25px;
  border-radius: 25px;
  border-style: solid;
  border-color: rgb(243, 230, 217);
  height:min-content;
  padding-left: 25px;
  padding-bottom: 25px;
}

div#habits-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

}

div#habits h4 {
  font-weight: 200;
  margin: 0;
}

button.checkbox {
  height: 15px;
  width: 15px;
  background-color: rgb(243, 230, 217);
  border-style: none;
  border-color: rgb(216, 204, 193);
}

div.inline-habit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 25px;
}

div.inline-checkboxes {
  display: flex;
  justify-content:flex-start;
  gap: 6.4px;
}

div#my-tasks {
  height:fit-content;
  width: 90vw;
  padding: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  border-style: solid;
  border-color:rgb(243, 230, 217);
  border-radius: 25px;
  background-color: rgb(255, 245, 238);
  display: flex;
  flex-direction: column;
}

div#tasks-and-add {
  display: flex;
}

div#display-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button.delete {
  background-color: rgb(133, 157, 161);
  width: 20px;
  height: 20px;
  border-style: none;
  border-radius: 25px;
  margin-left: 175px; 
}

h1.my-tasks {
  /* margin-left: 20px; */
  font-size: 22px;
  margin: 0px;
}

div#my-task-buttons {
  margin-top: 20px;
  margin-left: 0px;
  display: flex;
  justify-content: left;
  align-content: flex-start;
  /* flex-direction: column; */
  /* padding: 10px; */
  gap: 15px;
  
}

div#my-task-buttons button {
  height: 40px;
  width: 100px;
  margin: 0px;
  border-radius: 25px;
  border-style: none;
  background-color: rgb(247, 236, 225);
}

div#add-new-task-form {
  padding: 30px;
  margin-top: 25px;
  border-style: solid;
  width: 200px;
  height: 285px;
  border-radius: 25px;
  border-color:rgb(243, 230, 217);
  background-color: seashell;

}

div#manage-tasks {
  height: 300px;
  width: 90vw;
  padding: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  background-color: seashell;
  border-style: solid;
  border-color: rgb(243, 230, 217);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

div#task-list-display {
  width: 90vw;

}

div#manage-tasks h4 {
  font-weight: 200;
}

div#today {
  background-color:seashell ;
  width: 30vw;
  height: 510px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 20px;
  margin-bottom: 25px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1.today {
  margin-left: 25px;
  margin-bottom: 0px;
}

h2.today {
  margin-left: 25px;
  margin-top: 5px;
}

div#warmups {
  padding: 10px;
  /* margin-right: 25px; */
  background-color: rgb(247, 236, 225);
  /* margin-left: 25px; */
  /* margin-top: 20px; */
  border-radius: 25px;
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-content:space-around;
  gap: 10px;
}

textarea.notepad {
  background-color: seashell;
  border: 3px solid rgb(243, 230, 217);
  border-radius: 25px;
  outline: none;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding: 15px;
}

div#following-days-display {
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;

}
div.day-display {
  width: 35vw;
  height: 300px;
  margin: 0 13px;
  background-color: seashell;
  border-style: solid;
  border-color: rgb(243, 230, 217);
  border-radius: 25px;
}

div.day-display h2 {
  margin-left: 25px;
}

div.day-display li {
  font-size: 15px;
}

div.display-card {
  background-color: rgb(175, 199, 197);
  width: 200px;
  height:max-content;
  border-style: solid;
  border-radius: 25px;
  border-color: seashell;
  margin-top: 25px;
  margin-left: 25px;
  padding: 25px;
}

div.display-card h2 {
  margin-top: 0px;
  font-weight: 300;
}

div.display-card h3 {
  font-weight: 200;
}

footer {
  height: 35px;
  background-color: seashell;
}